@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/* form css local*/
/* .add-info{
    font-size: 8px;
}

section.form-section {
margin: 1.75rem 2rem ;
padding: 2.4rem;
background-color: #F5F5F5;
border: 1px solid black;
border-radius: 14px;
}

section.form-section h2 {
text-align: center;
font-size: 2rem;
color: #597E52;
margin-bottom: 1.25rem;
}

div.form-group {
display: flex;
flex-direction: column;
margin-top: 12px;
}



div.form-group input,
textarea {
border: 1px solid #416D19;
border-radius: 8px;
padding: 1rem;
}

div.form-group textarea{
resize: none;
}

div.form-group>label {
margin-bottom: 8px;
color: #597E52;
}



button#saveBtn {
width: 100%;
margin-top: 20px;
padding: 14px 16px;
background-color: #9BCF53;
border: 0;
border-radius: 12px;
color: white;
font-weight: bold;
cursor: pointer;
}
button#saveBtn:hover {

background-color: #a8e776;
transition: 400ms ease-in;

} */

/* section class note */

.note .title-notes > h2 {
  font-size: 2rem;
  color: #597e52;
  margin-top: 1em;
  margin-bottom: 1rem;
}


@media screen and(min-width: 640px) {
  .note .title-notes > h2 {
    font-size: 0.75rem;
  }
}

.fallback{
  display: none;
}