* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em;
}



/* section class note */

section.note .title-notes>h2 {
    font-size: 3rem;
    color: #597E52;
    margin-top: 1em;
    margin-bottom: 1rem;

}